body {
    font-family: Helvetica;
    color: #fffefc;
    background-color: #0f140d;
}
input:focus{
    outline: none;
}
.main-wrap {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 25px;
}
.input-box--input {
    width: calc(100% - 200px);
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    float: left;
}
.input-box--input.empty-field::placeholder {
    color: #f40000;
}
.input-box--select {
    width: 90px;
    float: left;
    height: 50px;
    border: none;
    padding-left: 20px;
    -webkit-appearance: none;
    cursor: pointer;
    font-family: Helvetica;
}
.input-box--submit {
    background-color: rgba(55, 150, 52, 0.7);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}
.input-box--submit:hover {
    background-color: rgba(55, 150, 52, 1);
}
.counter-wrap {
    margin-top: 25px;
}
.task-list {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.task-list--item:nth-child(even) {
    background-color: #3a3e39;
}
.task-list--item:nth-child(odd) {
    background-color: #494c48;
}
.task-list--item {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    position: relative;
    padding-left: 150px;
    height: 50px;
    line-height: 50px;
}
.task-list--item:hover {
    background-color: #242923;
}
.todo-location {
    position: absolute;
    display: inline-block;
    height: 50px;
    left: 0;
    top: 0;
    line-height: 50px;
    padding-left: 20px;
    width: 100px;
    border-right: 1px solid #666;
}
.done-true {
    opacity: 0.2;
}
.done-true,
.done-true span {
    text-decoration: line-through;
}
.done-true:after {
    content: "✔";
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 22px;
}
.todo-location:before {
    margin-right: 10px;
}
.todo-location.home:before {
    content: "🏠";
}
.todo-location.school:before {
    content: "🏫";
}
.todo-location.work:before {
    content: "🔨";
}
.todo-date {
    float: right;
    margin-right: 55px;
}